<h1>Listing logins</h1>

<table>
  <tr>
  </tr>

<% for login in @logins %>
  <tr>
    <td><%= link_to 'Show', login %></td>
    <td><%= link_to 'Edit', edit_login_path(login) %></td>
    <td><%= link_to 'Destroy', login, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New login', new_login_path %>
